<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <div style="min-width:600px; max-width:600px">
      <h3>Production deploy at <%= Time.now %> completed successfully.</h3>

      <p><strong>Commit that triggered the build:</strong>
      <br/>
        <code>
        <%= `git log -n1` %>
        </code>
      </p>

      <p><strong>Files changed:</strong>
        <br/>
        <code>
        <%= `git diff HEAD^ HEAD --stat` %>
        </code>
      </p>

      <p><strong>Full diff to last commit:</strong>
        <br/>
        <pre>
        <%= `git diff HEAD^ HEAD` %>
        </pre>
      </p>

      <p>Any questions about the deploy or the deployer contact, <%= mail_to 'bn@justnom.it', 'bn@justnom.it' %></p>
      <br/>
      </div>

  </body>
</html>
