<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Reset yo' password..</h3>
    <p>
      Hey <%= @name %>, we've gotten word that you want to <strong>reset your password</strong>.
      Well just click <%= link_to 'the link', @url %> and you'll be all set.
    </p>
    <p>
      Note: This link is valid for 3 days so if you're busy just come back soon.
    </p>
    <p>
      Also, here is the full url <%= @url %>.
    </p>
    <p>Any comments questions can be directed to the founder, <%= mail_to 'bn@justnom.it', 'bn@justnom.it' %></p>
    <p>Please report issues to <%= link_to 'Suppport', 'http://justnom.it/support' %></p>
    <br/>
  </body>
</html>
