<%= render :partial => "top" %>
<%= render :partial => 'grid' %>

<div id="insideContainer" class="container">
  <div class="row">

    <% rec = @detail[:recommendation] rescue {} %>
    <% loc = @detail[:location] rescue {} %>
    <% user = rec[:user] rescue {} %>
    <% image = rec[:image] rescue {} %>

    <% unless (@detail.blank? || rec.blank? || loc.blank?) %>
      <div class="eight columns">
        <p style="max-width:650px; margin-top:80px"><h4><%= rec[:title] || "Recommendation for #{loc[:name]}" %></h4></p>
        <h6><%= time_ago_in_words rec['created_at'] %>&nbsp;ago</h6>
        <div class="recommendation_container">
          <div class="image_frame">
            <img src="<%= image[:url] %>"></img>
          </div>
          <div class="user_frame">
            <div class ="user">
              <div class="user_image_frame">
                <img src="<%= user[:image_url] %>" style="border: 1px solid;"></img>
                <div class="user_info">
                  HI
                  <h4><%= user[:name].presence || user[:screen_name].presence || "No user name"%></h4>
                  <% unless user[:city].blank? %>
                    <p style="padding-top:8px"><%= "#{I18n.t('detail.from')}#{user[:city]}"%></p>
                  <% end %>

                  <% unless user[:follower_count].blank? %>
                    <p style="padding-top:8px"><%= "#{user[:follower_count]} #{I18n.t('detail.followers')}"%></p>
                  <% end %>
                </div>
                <div class="user_details"></div>
                <div class="recommendation_details"></div>
              </div>
            </div>
          </div>
          
          <div class="nommed_text">
            <h5><%= rec['text'] %></h5>
          </div>
        </div>
      </div>
    <% else %>

      <p style="margin-top:80px; max-width:600px">
        <h4>hmph 404 - Recommendation for <%= @token %> not found...</h4>
        <br>
        <h5><%=I18n.t('detail.while_youre_here') %></h5>
      </p>
      <div class="four columns right" style="float:right;">
        <%= image_tag "samovar.png" %>
      </div>

    <% end %>

  </div>
</div>
