<%= render :partial => "top" %>
<%= render :partial => 'grid' %>

<div id="insideContainer" class="container">
<!--  <div class="row hide-on-phones">
    <a href="./" class="back two columns hide-on-phones green">&larr; Home</a>
  </div>
-->

  <div class="row">
    <div class="eight columns">

      <%= render :partial => "middle", :locals => { 
        :title => 'Nom',
        :tagline => 'The Intuitive way to Find and Discover.'
      } %>

      <p style="max-width:650px; font-size:24px"><h4>What is Nom?</h4>
        <br><ul style="font-size:16px">
          <li>Nom answers "what's <strong>best</strong> around here?"</li>
          <li><strong>Express your tastes</strong> and recommend what you like best.</li>
          <li>Follow others who <strong>share your food affections</strong>.</li>
          <li>Learns and gives you <strong>personalized</strong> recommendations.</li>
        </ul>
        <!--<br><a class="green" href="http://blog.justnom.it/how-it-works">More&nbsp;&rarr;</a>-->
        </p><br>
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>

  </div>
  <!-- /Row -->

  <%= render :partial => 'footer' %>

</div>
<!-- /Main Container -->
