<%= render :partial => "top" %>

<div id="insideContainer" class="container">
  <div class="row">
    <div class="eight columns">

      <%= render :partial => "middle", :locals => { 
        :title => 'Nom + Project', 
        :tagline => 'Share you knowledge.'
      } %>

      <p style="max-width:650px">
        <h5>The Project will seed your world with metadata</h5>
      </p>
      <div style="border-bottom:1px; border-color:gray; border-style:solid; max-width:550px; height:10px"></div>
      <p style="max-width:650px"><h4>The Ideal Fit for the Nom Project:</h4>
        <br><ul style="font-size:16px;">
          <li>You are a pioneer of your world.</li>
          <li>The new spot on the corner; <strong>you've been there</strong>.</li>
          <li>Your friends look to <strong>you</strong> for a place to go.</li>
          <li>You know the fundamental <strong>difference</strong> between Cuisine A and Cuisine B.</li>
          <li>You are a Nom Project Owner.</li>
          <li>Download the <a href="<%= nom_project_itunes_url %>" target="_blank">Nom Project iOS app here</a></li>
        </ul>
        <a class="green" href="blog.justnom.it/project-who-you-are">More&nbsp;&rarr;</a>
      </p>
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>
  </div>
  <!-- /Row -->

  <%= render :partial => 'footer' %>

</div>
<!-- /Main Container -->
