<%= render :partial => "top" %>
<%= render :partial => 'grid' %>

<div id="insideContainer" class="container">
<!--  <div class="row hide-on-phones">
    <a href="./" class="back two columns hide-on-phones green">&larr; Home</a>
  </div>
-->

  <div class="row">
    <div class="eight columns">

      <%= render :partial => "middle", :locals => { 
        :title => 'Team Nom',
        :tagline => 'People who know things, doing things.'
      } %>

      <p style="max-width:650px"><h4>Who are We?</h4>
        <br>
        <ul>
          <li>
            <h5>Brian Norton (Founder):</h5>
            <a href="http://twitter.com/nort">@nort</a> lives in San Francisco where
            he moved after graduating from UC Berkeley, and has since begun to perfect
            the art of software. There is no better feeling than making things that people use.
            He loves to be outdoors and write code. Nom is the expression of many 
            facets of his personality.
            &nbsp;&nbsp;&nbsp;
            <a class="green" href="http://blog.justnom.it/hey-im-brian-norton">More&nbsp;&rarr;</a>
            <br/>
          </li>
        </ul>
        
      </p>
      
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>

  </div>
<!--  <div class="row">
    <div class="twelve columns">
      <a class="hide-on-phones nice blue button right" href="mobile.php">Mobility &rarr;</a>
    </div>
  </div> 
-->

  <%= render :partial => 'footer' %>

</div>
<!-- /Main Container -->
