<%= render :partial => "top" %>
<%= render :partial => 'grid' %>

<div id="insideContainer" class="container">
<!--  <div class="row hide-on-phones">
    <a href="./" class="back two columns hide-on-phones green">&larr; Home</a>
  </div>
-->

  <div class="row">
    <div class="eight columns">

      <%= render :partial => "middle", :locals => { 
        :title => 'Team Nom',
        :tagline => 'People who know things, doing things.'
      } %>

      <p style="max-width:650px"><h4>Who are We?</h4>
        <br>
        <ul>
          <li style="width: 500px; font-size: 15px">
            <h5>Brian Norton:</h5>
            <a href="http://twitter.com/nort">@nort</a> lives in San Francisco where
            he moved after graduating from UC Berkeley, and has since begun to perfect
            the art of software through test-driven and agile methodology.

            His words, "There is no better feeling than making a beautiful product and satisfying a customer need."

            He loves the outdoors.
            <br/>
          </li>
        </ul>
      </p>
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>

  </div>

  <%= render :partial => 'footer' %>

</div>
<!-- /Main Container -->
